Repository openPMD/openPMD-api, pull requests merged in 2018-11, with the labels that each got.

#384 Build System Support for JSON Backend
  .travis.yml
  CMakeLists.txt
  README.md
  docs/source/dev/buildoptions.rst
  docs/source/dev/dependencies.rst
  openPMDConfig.cmake.in
  share/openPMD/thirdParty/json/CMakeLists.txt
  share/openPMD/thirdParty/json/cmake/config.cmake.in
  share/openPMD/thirdParty/json/nlohmann_json.natvis
  share/openPMD/thirdParty/json/single_include/nlohmann/json.hpp
  src/binding/python/openPMD.cpp
Labels: api: new, backend: JSON, continuous integration, frontend: Python3, third party

#386 store_chunk order of arguments
  examples/3_write_serial.cpp
  examples/3_write_serial.py
  examples/5_write_parallel.cpp
  examples/7_extended_write_serial.cpp
  examples/7_extended_write_serial.py
  include/openPMD/RecordComponent.hpp
  include/openPMD/auxiliary/ShareRaw.hpp
  src/binding/python/RecordComponent.cpp
  test/CoreTest.cpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
  test/python/unittest/API/APITest.py
Labels: api: breaking, frontend: C++11, frontend: Python3, refactoring

#385 Docs: Upgrade Guide
  NEWS.rst
  docs/source/index.rst
  docs/source/install/upgrade.rst
Labels: documentation

#388 Series: More Flexible Detection of Padding
  CHANGELOG.rst
  src/Series.cpp
  test/SerialIOTest.cpp
Labels: affects latest release, bug

#392 Docs: Created CPython Lib Filename
  CHANGELOG.rst
  docs/source/dev/buildoptions.rst
Labels: documentation, frontend: Python3

#346 MPI Benchmark
  CMakeLists.txt
  docs/source/index.rst
  docs/source/utilities/8_mpi_benchmark.cpp
  docs/source/utilities/benchmark.rst
  examples/8_mpi_benchmark.cpp
  include/openPMD/Datatype.hpp
  include/openPMD/benchmark/mpi/BlockSlicer.hpp
  include/openPMD/benchmark/mpi/DatasetFiller.hpp
  include/openPMD/benchmark/mpi/MPIBenchmark.hpp
  include/openPMD/benchmark/mpi/MPIBenchmarkReport.hpp
  include/openPMD/benchmark/mpi/OneDimensionalBlockSlicer.hpp
  include/openPMD/benchmark/mpi/RandomDatasetFiller.hpp
  src/Datatype.cpp
  src/benchmark/mpi/OneDimensionalBlockSlicer.cpp
Labels: MPI, tests
