Repository openPMD/openPMD-api, pull requests merged in 2021-03, with the labels that each got.

#940 Catch2: 2.13.4+
  .github/workflows/unix.yml
  CMakeLists.txt
  README.md
  docs/source/dev/buildoptions.rst
  docs/source/dev/dependencies.rst
  share/openPMD/thirdParty/catch2/include/catch2/catch.hpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
Labels: tests, third party, warning

#927 ADIOS2: v2.7.0+
  .github/workflows/dependencies/install_spack
  CHANGELOG.rst
  CMakeLists.txt
  Dockerfile
  NEWS.rst
  README.md
  docs/source/backends/adios2.rst
  docs/source/dev/dependencies.rst
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  include/openPMD/IO/Format.hpp
  src/Format.cpp
  src/IO/ADIOS/ADIOS2Auxiliary.cpp
  src/IO/ADIOS/ADIOS2PreloadAttributes.cpp
  src/IO/AbstractIOHandlerHelper.cpp
  src/Series.cpp
  src/config.cpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
  test/python/unittest/API/APITest.py
Labels: backend: ADIOS2

#942 Fix available_chunks() for constant components
  src/backend/BaseRecordComponent.cpp
  test/SerialIOTest.cpp
Labels: affects latest release, bug, internal

#936 Follow-up of frontend redesign: Remove unnecessary pointer members
  CMakeLists.txt
  include/openPMD/Iteration.hpp
  include/openPMD/ParticleSpecies.hpp
  include/openPMD/ReadIterations.hpp
  include/openPMD/Series.hpp
  include/openPMD/WriteIterations.hpp
  include/openPMD/backend/Attributable.hpp
  include/openPMD/backend/BaseRecord.hpp
  include/openPMD/backend/Container.hpp
  include/openPMD/backend/Writable.hpp
  include/openPMD/openPMD.hpp
  src/IO/IOTask.cpp
  src/Iteration.cpp
  src/Mesh.cpp
  src/ReadIterations.cpp
  src/Record.cpp
  src/Series.cpp
  src/WriteIterations.cpp
  src/backend/Attributable.cpp
  test/AuxiliaryTest.cpp
  test/SerialIOTest.cpp
Labels: backend, refactoring

#926 New attribute layout: Read from either int8_t or uint8_t
  include/openPMD/IO/ADIOS/ADIOS2PreloadAttributes.hpp
  src/IO/ADIOS/ADIOS2Auxiliary.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/ADIOS/ADIOS2PreloadAttributes.cpp
  test/SerialIOTest.cpp
Labels: backend: ADIOS2, workaround

#944 Check for existence of the correct files in parallel IO tests
  test/ParallelIOTest.cpp
Labels: bug, tests

#946 Document the meaning of Writable::written()
  include/openPMD/backend/Writable.hpp
Labels: documentation

#935 ParticleSpecies: Read to dask.dataframe
  .github/workflows/unix.yml
  .rodare.json
  README.md
  docs/source/dev/dependencies.rst
  examples/11_particle_dataframe.py
  spack.yaml
  src/binding/python/openpmd_api/DaskDataFrame.py
  src/binding/python/openpmd_api/__init__.py
Labels: api: new, frontend: Python3

#943 Decay ReadWrite mode into adios2::Mode::Read if the file exists
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  test/SerialIOTest.cpp
Labels: affects latest release, backend: ADIOS2, bug

#829 Resizable Datasets
  include/openPMD/Dataset.hpp
  include/openPMD/IO/IOTask.hpp
  include/openPMD/RecordComponent.hpp
  src/Dataset.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/HDF5/HDF5IOHandler.cpp
  src/IO/JSON/JSONIOHandlerImpl.cpp
  src/RecordComponent.cpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
Labels: api: new, backend: ADIOS2, backend: JSON

#950 Fix: FBPIC Example Filename
  share/openPMD/download_samples.ps1
  share/openPMD/download_samples.sh
  test/SerialIOTest.cpp
Labels: bug, tests

#947 Reintroduce Clang Sanitizer
  .github/ci/sanitizer/clang/Leak.supp
  .github/ci/spack-envs/clang10_nopy_ompi_h5_ad1_ad2/spack.yaml
  .github/workflows/unix.yml
Labels: continuous integration

#941 Use schema-based versioning in ADIOS2 backend
  .github/workflows/unix.yml
  docs/source/backends/adios2.rst
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
Labels: backend: ADIOS2

#951 Dask DataFrame: Improve Pickle Support
  .rodare.json
  README.md
  src/binding/python/openpmd_api/DaskDataFrame.py
Labels: frontend: Python3

#954 RecordComponent: Remove Unimplemented Scaling
  include/openPMD/RecordComponent.hpp
  include/openPMD/openPMD.hpp
Labels: frontend: C++11, workaround
