Repository openPMD/openPMD-api, pull requests merged in 2022-02, with the labels that each got.

#1192 Improve HDF5 write time by disabling fill
  src/IO/HDF5/HDF5IOHandler.cpp
Labels: backend: HDF5

#1190 README: is->are
  README.md
Labels: documentation

#1186 Print warning if mpi4py is not found in openpmd-pipe
  src/binding/python/openpmd_api/pipe/__main__.py
Labels: tools, backend: ADIOS2, frontend: Python3, MPI

#1179 ADIOS1: Remove task from IO queue if it fails with exception
  src/IO/ADIOS/ADIOS1IOHandler.cpp
  src/IO/ADIOS/ParallelADIOS1IOHandler.cpp
Labels: backend: ADIOS1, internal

#1191 Allow setting operations in ADIOS2 read API
  docs/source/details/backendconfig.rst
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  test/SerialIOTest.cpp
Labels: backend: ADIOS2

#1199 `setup.py`: Extra CMake Arg Control
  CMakeLists.txt
  README.md
  docs/source/install/install.rst
  setup.py
Labels: install, frontend: Python3, frontend: JavaScript

#1202 Fix `-Wsign-compare`
  CMakeLists.txt
  src/binding/python/RecordComponent.cpp
Labels: warning
