Repository openPMD/openPMD-api, pull requests merged in 2024-02, with the labels that each got.

#1594 Derive PatchComponent from RecordComponent
  include/openPMD/Mesh.hpp
  include/openPMD/Record.hpp
  include/openPMD/RecordComponent.hpp
  include/openPMD/backend/MeshRecordComponent.hpp
  include/openPMD/backend/PatchRecord.hpp
  include/openPMD/backend/PatchRecordComponent.hpp
  src/ParticlePatches.cpp
  src/Record.cpp
  src/RecordComponent.cpp
  src/backend/MeshRecordComponent.cpp
  src/backend/PatchRecord.cpp
  src/backend/PatchRecordComponent.cpp
  src/binding/python/PatchRecordComponent.cpp
Labels: frontend: C++17, frontend: Python3, api: new

#1591 HDF5: Explicit control over chunking
  docs/source/backends/hdf5.rst
  docs/source/details/backendconfig.rst
  examples/5_write_parallel.cpp
  include/openPMD/IO/HDF5/HDF5IOHandlerImpl.hpp
  include/openPMD/auxiliary/JSON_internal.hpp
  src/IO/HDF5/HDF5IOHandler.cpp
  src/auxiliary/JSON.cpp
  test/ParallelIOTest.cpp
Labels: backend: HDF5

#1599 SerialIOTest: Clang-Tidy Fixes
  test/SerialIOTest.cpp
Labels: tests, warning

#1382 Joined arrays in ADIOS2
  docs/source/usage/workflow.rst
  examples/5_write_parallel.py
  include/openPMD/Dataset.hpp
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  include/openPMD/IO/IOTask.hpp
  include/openPMD/RecordComponent.hpp
  include/openPMD/RecordComponent.tpp
  include/openPMD/backend/BaseRecordComponent.hpp
  include/openPMD/backend/PatchRecordComponent.hpp
  src/Dataset.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/HDF5/HDF5IOHandler.cpp
  src/IO/JSON/JSONIOHandlerImpl.cpp
  src/RecordComponent.cpp
  src/backend/BaseRecordComponent.cpp
  src/backend/PatchRecordComponent.cpp
  src/binding/python/Dataset.cpp
  src/binding/python/PatchRecordComponent.cpp
  src/binding/python/RecordComponent.cpp
  test/ParallelIOTest.cpp
  test/SerialIOTest.cpp
Labels: backend: ADIOS2, api: new

#1475 Parallel JSON
  CMakeLists.txt
  docs/source/backends/json.rst
  include/openPMD/IO/JSON/JSONIOHandler.hpp
  include/openPMD/IO/JSON/JSONIOHandlerImpl.hpp
  src/IO/AbstractIOHandlerHelper.cpp
  src/IO/JSON/JSONIOHandler.cpp
  src/IO/JSON/JSONIOHandlerImpl.cpp
  src/auxiliary/Filesystem.cpp
Labels: backend: JSON, MPI

#1584 Filename extensions: Allow specifying wildcards
  docs/source/usage/firstread.rst
  docs/source/usage/firstwrite.rst
  examples/2a_read_thetaMode_serial.cpp
  examples/2a_read_thetaMode_serial.py
  include/openPMD/IO/AbstractIOHandler.hpp
  include/openPMD/IO/DummyIOHandler.hpp
  include/openPMD/IO/Format.hpp
  include/openPMD/IO/IOTask.hpp
  include/openPMD/Series.hpp
  src/Format.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/DummyIOHandler.cpp
  src/IO/IOTask.cpp
  src/Series.cpp
  src/binding/python/Series.cpp
  test/CoreTest.cpp
  test/SerialIOTest.cpp
Labels: frontend: C++17, frontend: Python3
