Repository openPMD/openPMD-api, pull requests merged in 2025-04, with the labels that each got.

#1742 Fix broken CI: Deactivate build dependencies that fail to configure with CMake 4.0
  .github/ci/spack-envs/clangtidy_nopy_ompi_h5_ad2/spack.yaml
  .github/ci/spack-envs/gcc12_py36_ompi_h5_ad2/spack.yaml
Labels: continuous integration

#1743 Fix double write from unique_ptr in ADIOS2
  src/IO/ADIOS/ADIOS2File.cpp
  test/ParallelIOTest.cpp
Labels: bug, backend: ADIOS2

#1740 working around an unusual encounter when the joined_dim has actual value "max::size_t - 1"
  include/openPMD/Dataset.hpp
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  include/openPMD/IO/IOTask.hpp
  include/openPMD/RecordComponent.tpp
  include/openPMD/auxiliary/StringManip.hpp
  src/Dataset.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/AbstractIOHandlerImpl.cpp
  src/IO/HDF5/HDF5IOHandler.cpp
  src/IO/JSON/JSONIOHandlerImpl.cpp
  src/RecordComponent.cpp
  src/Series.cpp
  src/backend/BaseRecordComponent.cpp
  src/binding/python/Dataset.cpp
  test/ParallelIOTest.cpp
Labels: bug, backend: ADIOS2

#1744 Fix: Late unique_ptr puts without CLOSE_FILE or ADVANCE operations
  CMakeLists.txt
  src/IO/ADIOS/ADIOS2File.cpp
  test/Files_SerialIO/SerialIOTests.hpp
  test/Files_SerialIO/issue_1744_unique_ptrs_at_close_time.cpp
  test/SerialIOTest.cpp
Labels: bug, backend: ADIOS2

#1745 JSON backend: Fix uninitialized values
  include/openPMD/IO/JSON/JSONIOHandlerImpl.hpp
  src/IO/JSON/JSONIOHandlerImpl.cpp
Labels: bug, backend: JSON

#1746 Variable encoding in ADIOS2: Support partial datasets in ReadRandomAccess
  CMakeLists.txt
  docs/source/usage/workflow.rst
  include/openPMD/IO/ADIOS/ADIOS2File.hpp
  include/openPMD/IO/ADIOS/ADIOS2IOHandler.hpp
  include/openPMD/IO/ADIOS/ADIOS2PreloadVariables.hpp
  src/IO/ADIOS/ADIOS2File.cpp
  src/IO/ADIOS/ADIOS2IOHandler.cpp
  src/IO/ADIOS/ADIOS2PreloadVariables.cpp
  src/Iteration.cpp
  src/Series.cpp
  test/Files_ParallelIO/read_variablebased_randomaccess.cpp
  test/Files_SerialIO/close_and_reopen_test.cpp
  test/SerialIOTest.cpp
Labels: backend: ADIOS2

#1748 Fix error when reading in linear mode from file-based Series
  src/Series.cpp
Labels: bug, internal

#1750 Update error message for group encoding in BP5
  src/IO/ADIOS/ADIOS2File.cpp
Labels: backend: ADIOS2
